body {
    display: flex;
}

.gamebox {
    margin: 5rem auto;
    padding: 40px 40px;
    width: 85%;
    height: 95rem;
    background-color: #ce405c;    
    border-radius: 35px;
    color: gold;
    font-size: 6rem;
    font-family: 'Lobster', cursive;
    text-shadow: 3px 3px 10px #8a0822;
    text-align: center;    
    box-shadow: 8px 8px 10px grey ; 
    border-bottom: solid 12px #8a0822;
    border-left: solid 12px #8a0822;
    display: flex;
    flex-direction: column;
}

.outer {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.inner {
    background-color: #202091;
    
}

.grid-div {
    margin: 50px auto;    
    display: flex;
    justify-content: center;
   
}

.gridbox {
    min-height: 30px;
    min-width: 30px;
    background-color: #eeeeee;
    border: solid 0.01em #4d4d4d;
    opacity: 90%;
    

}


.btn-div {      
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.btn-row {
    margin: 25px auto;    
    display: flex;
    gap: 80px;
    
}

.btn {
    width: 200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: 500;
    font-family: sans-serif;
    box-shadow: 2px 2px black;
}