body {
    font-family: 'Lobster', cursive;
}      

#container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    /* Color and shape   */
    background-color: #ce405c;    
    border-radius: 65px;
    color: gold;
    text-shadow: 3px 3px 10px #8a0822; 
    border-bottom: solid 8px #8a0822;
    border-left: solid 8px #8a0822;
}

.title {  
    padding-top: 10px;
    font-size: 3em;
    text-align: center;
}

.top, 
.bottom {
    display: flex;
    margin: 10px auto 0px auto;
    gap: 30px;    
}

/* Bottom button bar */
.bottom {
    padding: 0px 0px 20px 0px;
}

/* Basic button settings, no class */
button {
    position: relative;
    padding: 3px 15px;
    font-size: 0.65rem;
    font-family: sans-serif;
    box-shadow: 2px 2px 1px black;
}

/* Set space for cell grid */
.grid-box {
    height: 400px;
    display: grid;      
    padding: 5% 5% 1% 5%;
}

/* Set grid settings for grid cells */
.grid-box > div {      
    background-color: #ffffff;
    border: solid 0.1em #4d4d4d;
    opacity: 90%;
}

/* Slider for density selection */
.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
    color: white;
}

/* Make buttons look pressed when clicked */
button:active,
.active {
    top: 3px;
    left: 3px;
    box-shadow: none;
    background-color: rgb(173, 173, 173);   
} 

